body{
    margin: 0px;
    padding: 0px;
    background-color: #dbdbdb;
    font-family: 'Oxygen', sans-serif;
}

*{
    box-sizing: border-box;
}

#social{
background-color: black;
color: white;
height: 55px;
width: 100%;
position: sticky;
top: 0;
z-index: 1;
font-size: 18px;
text-align: right;
padding: 15px;
}

font{
    float: left;
    letter-spacing: 2px;
}

#social>i{
    margin-right: 20px;
}
#social>i:hover{
    opacity: 0.8;

}

#container{
    width: 80%;
    margin: auto;
    height: auto;
}

header{
    width: 100%;
    height: 250px;
    box-shadow: 0 2px 8px 2px rgba(20, 23,28, 15);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
}
#headerResim{
    width: 100%;
    height: 250px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
   /* transition: opacity 0.8;*/
}
/*#headerResim:hover{
    opacity: 0.8;
}*/

section{
width: 100%;
height: auto;
background-color: #f1f1f1;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
margin-top: 15px;
overflow: auto;


}
nav{
    width: 20%;
    float: left;
    margin-top: 10px;
    height: auto;
}

nav ul{
    width: auto;
    height: 100%;
    margin:0;
    padding: 0;
}

nav li{
    list-style-type: none;
}

nav li a{
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color:black;
    border-bottom: 1px solid #b4b4b4;
    padding-left: 20px;
    display: block;
}

nav li a:hover{
    color: white;
    background-color: #adadad;
}

i{
    margin-right: 10px;
}

main{
    float: left;
    height: auto;
    width: 80%;
    padding: 10px;
}
.icerik{
    width: 48%;
    height: auto;
    display: inline-block;
    margin-right: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px 2px rgba(20, 23,28, 15);
    margin-bottom: 15px;
}
.rsm{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: opacity 0.8s;
}
.rsm:hover{
    opacity: 0.6;
}

h4{
    margin: 10px;
    color: #2E86C1;
    text-align: center;

}
.icerikText{
    margin: 10px;
    color: black;
}
.btnDevam:link{
    display: block;
    width: 150px;
    height: 45px;
    padding: 10px;
    background-color: #0071ce;
    margin: 15px;
    text-decoration: none;
    border-radius: 5px;
}

.btnDevam{
    color: white;
    text-align: center;
}
.btnDevam:hover{
    opacity: 0.8;
}

footer{
    width: 100%;
    height: 75px;
    background-color: black;
color: white;
line-height: 75px;
text-align: center;
}

 /*footer{
    background-color: #595959;
    text-align: center;
    color:#fff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}*/

h1{
    text-align: center;
    background-color: black;
    color: white;
    height: 50px;
    line-height: 50px;
    margin:0 10px;
    border-radius: 10px;
    box-shadow: 0 2px 8px 2px rgba(20, 23,28, 15);
}

#hakkimizdarsm{
    width: 350px;
    height: 300px;
    float: left;
    border-radius: 20px;
    margin:20px;
    transition: opacity 0.8;
}
#hakkimizdarsm:hover{
    opacity: 0.8;

}

.photos{
    width: 40%;
    height: 300px;
    float: left;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 8px 2px rgba(20, 23,28, 15);
    margin-top: 10px;
}

.galresim{
    width: 29%;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 8px 2px rgba(20, 23,28, 15);
    margin: 15px;
    transition: all 0.6;
}
.galresim.rsm:hover{
    opacity: 1;
    border: 5px solid white;
    cursor: pointer;
}

.link:link{
    text-decoration: none;
}

iframe{
    width: 98%;
    height: 350px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 2px 8px 2px rgba(20, 23,28, 15);
    margin-left: 10px;
}

.section1{
    width: 98%;
    height: auto;
    margin: auto;
    margin-top: 10px;
    background-color: #f2f2f2;
    padding:10px;
}

.form{
    width: 49%;
    float: left;
    height: 455px;
    border: 1px solid #d8d8d8;
    padding: 10px;
    margin-right: 10px;
}
/*.col25{
    width: 25%;
    float: left;
    margin-top: 6px;

}
.col75{
    width: 75%;
    float: left;
    margin-top: 6px;

}*/

label{
    padding: 12px 12px 12px 0px;
    display: inline-block;
}

input[type=text], textarea{
    padding: 12px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.row:after{
    content:"";
    clear: both;
    display: block;
}

input[type=submit]{
    background-color: yellowgreen;
    color: white;
    padding: 12px 20px;
    border:none;
    border-radius: 5px;
    float: right;
    transition: opacity 0.6s;
}

input[type=submit].hover{
    opacity: 0.8;
}


.adres{
    width: 125%;
    float: right;
    height: 455px;
    border: 1px solid #d8d8d8;
    padding: 10px;
}

h2{
    text-align: center;
}

.span1{
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing:1.5px;
    margin:10px;
    text-align: center;
    font-size: 16px;
}